.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  flex-direction: column;
  background-color: rgba(255, 230, 0);

  div {
    width: 80%;
    display: flex;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;

    &-logo {
      color: rgb(0, 0, 167);
      height: 45px;
      font-weight: 700;
      &:hover {
        color: rgb(0, 0, 167);
      }
    }

    &-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      &-input {
        width: 80%;
        padding: 10px;
        border: #eeeeee;
        -webkit-box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);

        &:focus-visible {
          border: 1px solid blue;
          outline: none;
        }
      }

      .lupa {
        min-width: 25px;
        max-width: 37px;
        background-color: white;
        padding: 11px;
        border-left: 1px rgb(225, 225, 225) solid;
      }
    }
  }
  &-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    // flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
    p {
      margin: 0 10px 0 0;
      font-size: 13px;
    }
    &-shop,
    &-user {
      display: flex;
      flex-wrap: wrap;
    }

    &-user {
      justify-content: flex-end;

      &-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        p,
        svg {
          position: absolute;
        }
        p {
          margin: 0;
          margin-bottom: 25px;
          margin-left: 15px;
          background-color: red;
          text-align: center;
          color: black;
          padding: 0px 6px;
          border-radius: 50%;
          font-weight: 500;
        }
      }

      a {
        color: #666;
        transition: 0.5s;
        &:hover {
          color: black;
        }
      }
    }
  }
}
