.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  -webkit-box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);

  div {
    width: 80%;
    display: flex;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;

    &-logo {
      color: black;
      height: 45px;
      font-weight: 700;
      &:hover {
        color: black;
      }
    }

    &-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      &-input {
        width: 80%;
        padding: 10px;
        border: #eeeeee;
        -webkit-box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 10px 18px -16px rgba(0, 0, 0, 0.75);

        &:focus-visible {
          border: 1px solid blue;
          outline: none;
        }
      }

      .lupa {
        min-width: 35px;
        background-color: #515151;
        padding: 11px;
      }
    }
  }
  &-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    // flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
    p {
      margin: 0 10px 0 0;
      font-size: 13px;
    }
    &-shop,
    &-user {
      display: flex;
      flex-wrap: wrap;
    }

    &-user {
      justify-content: flex-end;
    }
  }
}
