.noavailable {
  height: 100%;
  width: 65%;

  &-container {
    background-color: white;
    padding: 16px;
    margin-bottom: 50px;
    padding: 40px;
    margin-top: 55px;
    width: 65%;
  }
  &-container-inf {
    background-color: white;

    h2 {
      margin: 0;
    }
  }
}
