.resultados {
  height: 100%;
  width: 65%;

  &-container {
    background-color: white;
    padding: 16px;
    margin-bottom: 50px;
  }
  &-container-error {
    background-color: white;
    padding: 40px;
    margin-top: 55px;
  }
}
